:root{
    --body-font:"noto-sans-oriya", sans-serif;
    --title-font:'lato', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: grey;
}

body {
    font-family: var(--body-font);
    overflow-x: hidden;
    background-color: white;
    color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: white;
    font-family: var(--title-font);
    padding-left: 10%;
    padding-right: 10%;

}

.nav_link{

    display: flex;
    gap: 20px;
}

main{
    margin-top: 1rem;
    margin-left: 15%;
    margin-right: 15%;
    border: rgba(128, 128, 128, 0.215) 1px solid;
    border-radius: 15px;
    padding: 2rem;
}

.first_flex img {
    width:100%;
    border-radius: 15px;
    
}

.first_flex {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.dropdown_menu{
    /* display: none; */
    position: absolute;
    left: 50px;
    font-size: 24px;
    top: 70px;
    height: 0;
    width: 100%;
    background-color: lightgray;
    border-radius: 10px;
    overflow: hidden;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.dropdown_menu li {
    padding: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-solid{
    font-size: 2rem;
    color: #FE6F60;
}

.dropdown_menu.open{
    height: 180px;
    width: 200px;
}
.btn_head{
    display: flex;
    gap: 10px;
}
.btn_1 {
    padding: .5rem 1rem;
    border-radius: 10px;
    border: none;
    background-color: #FE6F60;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}
.btn_2{
    padding: .5rem 1rem;
    border-radius: 10px;
    border: #FE6F60 solid 1px;
    background-color: transparent;
    color: #FE6F60;
    font-size: 1rem;
    font-weight: 600;
}
.btn_1:hover,
.btn_2:hover{
    opacity: .8;
}
nav form button{
    padding: .5rem 10px;
    border-radius: 40%;
    border: none;
    background-color: #FE6F60;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    width: 50px;
}

nav form input {
    padding: .5rem 1rem;
    border-radius: 10px;
    border: #FE6F60 solid 1px;
    background-color: transparent;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    width: 600px;
}

.recettes_img img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 15px;
}
.now_img img{
    height: 230px;
    width: 230px;
    object-fit: cover;
    border-radius: 15px;
}

.now_img_2 img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.recettes_card{
    display: flex;
    gap: 20px;
    flex-basis: 45%;
}

.text h3{
    max-width: 300px;

}

.title_flex{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.recettes_flex{
    margin-top: 2rem;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.section_link a{
    border-bottom: black 1px solid;
}
.recettes_card{
    border-bottom: rgba(128, 128, 128, 0.215) 1px solid;
    padding-bottom: 10px;
}
.second_flex{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 15px;
}
/* .now_img{
    flex-basis: 20%;
} */

.third_flex{
    background-color: pink;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

.four_flex{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

.flex_four{
    display: flex;
    margin-top: 1rem;
    gap: 20px;
}

.text_try{
    text-align: center;
}

.now_img_3 img{
    height: 300px;
    width: 600px;
    object-fit: cover;
    border-radius: 15px;
}

.flex_box{
    display: flex;
    margin: 10px;
    align-items: center;
    margin-top: 1rem;
    gap: 20px;
}

.flex_content {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 30px;
}
.flex_content button{
    background-color: #F9F9F8;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.flex_content h3{
    font-size: 1.5rem;
    font-weight: bold;
}
.btn_head{
    display: flex;
    gap: 10px;
}
header{
    z-index: 0;
}
main{
    z-index: 1000;
}
.sub_head{
    background-color: #F9F9F8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    box-shadow:
    0px 2.8px 2.8px rgba(0, 0, 0, 0.065),
    0px 9.4px 9.4px rgba(0, 0, 0, 0.095),
    0px 42px 42px rgba(0, 0, 0, 0.16);
    z-index: 0;

}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    background-color: #FE6F60;
    text-align: center;
}

.sub_head i {
    font-size: 2rem;
}

.txt{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.sub_head-1 i{
    color: #FE6F60;
}
.sub_head-2 i{
    color: #FED103;
}
.sub_head-3 i{
    color: #A9DA35;
}
.sub_head-4 i{
    color: #FE6F60;
}

.sub_head-5 a{
    font-weight: 1000;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: rgba(128, 128, 128, 0.215) 1px solid;
    margin: 10%;
    border-radius: 15px;

    gap: 20px;
    margin-top: 2rem;
}
h1 {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border:#FE6F60 solid 1px;
    border-radius: 15px;
}
.card img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 15px;
}
.card p {

    max-height: 200px;
    max-width: 200px;
    object-fit: cover;

}

.alert{
    background-color: #FF9B90;
    padding: 10px;
    text-align: center;
}